<footer class="container-fluid" id="footer">
  <div class="row" style="background-color: #333333">
    <div class="col-xl-2 offset-xl-3 me-lg-5">
      <span class="d-flex text-uppercase text-light pt-4 mb-3" style="font-size: 18px">o restauracji</span>
      <p class="text-black me-5 mb-4" style="text-align: justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a vestibulum leo.
        Quisque non diam et justo consectetur luctus et ac leo. Vestibulum porta gravida erat vel vulputate. Nam a luctus ipsum.
        Cras pharetra mauris tortor, nec egestas massa bibendum vitae.
      </p>
    </div>
    <div class="col-xl-2 me-lg-5">
      <span class="d-flex text-uppercase text-light pt-4 mb-3" style="font-size: 18px">godziny otwarcia</span>
      <ng-container *ngFor="let hour of openingHours">
        <div class="d-inline-block text-black text-capitalize">{{hour.weekDayNr | day}}</div>
        <div class="d-inline-block text-white float-end me-5">
          {{hour.fromHour | date:'HH:mm':'+0000':'pl-PL'}} -
          {{hour.toHour| date:'HH:mm':'+0000':'pl-PL'}}
        </div>
        <div class="d-block mb-2"></div>
      </ng-container>
    </div>
    <div class="col-xl-2 pb-3">
      <span class="d-flex text-uppercase text-light pt-4 mb-3" style="font-size: 18px">kontakt</span>
      <div class="text-black text-capitalize mb-1">adres</div>
      <div class="text-white text-capitalize mb-1">
        <fa-icon class="pe-1" [icon]="faLocationDot"></fa-icon>
        ul. {{restaurantInfo.address.street}} {{restaurantInfo.address.houseNr}}
        <ng-container *ngIf="restaurantInfo.address.flatNr.length > 0"> / {{restaurantInfo.address.flatNr}}</ng-container>
      </div>
      <div class="text-white text-capitalize mb-1">
        <fa-icon class="pe-1" [icon]="faCity"></fa-icon>
        {{restaurantInfo.address.postcode}} {{restaurantInfo.address.city}}
      </div>
      <div class="text-black text-capitalize mb-1">telefon</div>
      <div class="text-white mb-1">
        <fa-icon class="pe-1" [icon]="faPhone"></fa-icon>
        {{restaurantInfo.phoneNr | phone:'PL'}}
      </div>
      <div class="text-black text-capitalize mb-1">email</div>
      <div class="text-white mb-1">
        <fa-icon class="pe-1" [icon]="faEnvelope"></fa-icon>
        {{restaurantInfo.email}}
      </div>
    </div>
  </div>
  <div class="row text-light text-center" style="background-color: #1A1A1A">
    <span class="py-2 text-uppercase" style="font-size: 13px">WSZELKIE PRAWA ZASTRZEŻONE © 2022</span>
  </div>
</footer>
