.bg-image-soup {
  background-image: url('~src/assets/soup-image.jpg');

  min-height: 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
