<app-header></app-header>
<section class="container-fluid">
  <app-topic-image id="soup" [urlImage]="soupImg" [minHeight]="600" content="Zupy"></app-topic-image>
  <div class="row">
    <div class="col-xl-4 offset-xl-2 px-2 px-lg-4">
      <app-dish-list [dishes]="getDishes(type.SOUP, 0)" [showBest]="true"></app-dish-list>
    </div>
    <div class="col-xl-4 px-2 px-lg-4">
      <app-dish-list [dishes]="getDishes(type.SOUP, 1)" [showBest]="true"></app-dish-list>
    </div>
  </div>
  <app-topic-image id="main-dish" [urlImage]="mainDishImg" [minHeight]="500" content="Dania glówne"></app-topic-image>
  <div class="row">
    <div class="col-xl-4 offset-xl-2 px-2 px-lg-4">
      <app-dish-list [dishes]="getDishes(type.MAIN_DISH, 0)" [showBest]="true"></app-dish-list>
    </div>
    <div class="col-xl-4 px-2 px-lg-4">
      <app-dish-list [dishes]="getDishes(type.MAIN_DISH, 1)" [showBest]="true"></app-dish-list>
    </div>
  </div>
  <app-topic-image id="fish" [urlImage]="fishImg" [minHeight]="500" content="Ryby"></app-topic-image>
  <div class="row">
    <div class="col-xl-4 offset-xl-2 px-2 px-lg-4">
      <app-dish-list [dishes]="getDishes(type.FISH, 0)" [showBest]="true"></app-dish-list>
    </div>
    <div class="col-xl-4 px-2 px-lg-4">
      <app-dish-list [dishes]="getDishes(type.FISH, 1)" [showBest]="true"></app-dish-list>
    </div>
  </div>
  <app-topic-image id="salad" [urlImage]="saladImg" [minHeight]="500" content="Salatki"></app-topic-image>
  <div class="row">
    <div class="col-xl-4 offset-xl-2 px-2 px-lg-4">
      <app-dish-list [dishes]="getDishes(type.SALAD, 0)" [showBest]="true"></app-dish-list>
    </div>
    <div class="col-xl-4 px-2 px-lg-4">
      <app-dish-list [dishes]="getDishes(type.SALAD, 1)" [showBest]="true"></app-dish-list>
    </div>
  </div>
  <app-topic-image id="dessert" [urlImage]="dessertImg" [minHeight]="500" content="Desery"></app-topic-image>
  <div class="row">
    <div class="col-xl-4 offset-xl-2 px-2 px-lg-4">
      <app-dish-list [dishes]="getDishes(type.DESSERT, 0)" [showBest]="true"></app-dish-list>
    </div>
    <div class="col-xl-4 px-2 px-lg-4">
      <app-dish-list [dishes]="getDishes(type.DESSERT, 1)" [showBest]="true"></app-dish-list>
    </div>
  </div>
  <app-topic-image id="beverage" [urlImage]="beverageImg" [minHeight]="500" content="Napoje"></app-topic-image>
  <div class="row">
    <div class="col-xl-4 offset-xl-2 px-2 px-lg-4">
      <app-dish-list [dishes]="getDishes(type.BEVERAGE, 0)" [showBest]="true"></app-dish-list>
    </div>
    <div class="col-xl-4 px-2 px-lg-4">
      <app-dish-list [dishes]="getDishes(type.BEVERAGE, 1)" [showBest]="true"></app-dish-list>
    </div>
  </div>
  <a class="btn btn-outline-grey p-2 position-fixed"
     [class.active]="isSectionActive('soup')" [routerLink]="['/menu']" fragment="soup"
     style="top: 41vh; right: 30px">
  </a>
  <a class="btn btn-outline-grey p-2 position-fixed"
     [class.active]="isSectionActive('main-dish')" [routerLink]="['/menu']" fragment="main-dish"
     style="top: 44vh; right: 30px">
  </a>
  <a class="btn btn-outline-grey p-2 position-fixed"
     [class.active]="isSectionActive('fish')" [routerLink]="['/menu']" fragment="fish"
     style="top: 47vh; right: 30px">
  </a>
  <a class="btn btn-outline-grey p-2 position-fixed"
     [class.active]="isSectionActive('salad')" [routerLink]="['/menu']" fragment="salad"
     style="top: 50vh; right: 30px">
  </a>
  <a class="btn btn-outline-grey p-2 position-fixed"
     [class.active]="isSectionActive('dessert')" [routerLink]="['/menu']" fragment="dessert"
     style="top: 53vh; right: 30px">
  </a>
  <a class="btn btn-outline-grey p-2 position-fixed"
     [class.active]="isSectionActive('beverage')" [routerLink]="['/menu']" fragment="beverage"
     style="top: 56vh; right: 30px">
  </a>
</section>
<app-footer></app-footer>
