<app-header></app-header>
<section class="container-fluid">
  <app-topic-image [urlImage]="contactImg" [minHeight]="600" content="Kontakt"></app-topic-image>
  <div class="row my-5">
    <div class="col-xl-3 offset-xl-3 mb-3">
      <h2 class="text-center mb-4">Restaurant</h2>
      <span class="d-block text-black fw-bold">Adres:</span>
      <span class="d-block fw-light py-1">
        <fa-icon class="pe-1" [icon]="faLocationDot"></fa-icon>
        ul. {{restaurantInfo.address.street}} {{restaurantInfo.address.houseNr}}
        <ng-container *ngIf="restaurantInfo.address.flatNr.length > 0"> / {{restaurantInfo.address.flatNr}}</ng-container>
      </span>
      <span class="d-block mb-1 fw-light py-1">
        <fa-icon class="pe-1" [icon]="faCity"></fa-icon>
        {{restaurantInfo.address.postcode}} {{restaurantInfo.address.city}}
      </span>
      <span class="d-block text-black fw-bold">Telefon:</span>
      <span class="d-block mb-1 fw-light py-1">
        <fa-icon class="pe-1" [icon]="faPhone"></fa-icon>
        {{restaurantInfo.phoneNr | phone:'PL'}}
      </span>
      <span class="d-block text-black fw-bold">Email:</span>
      <span class="d-block mb-4 fw-light py-1">
        <fa-icon class="pe-1" [icon]="faEnvelope"></fa-icon>
        {{restaurantInfo.email}}
      </span>
      <span class="d-block text-black fw-bold">Godziny otwarcia:</span>
      <ng-container *ngFor="let hour of openingHours">
        <span class="d-block text-black text-capitalize fw-light py-1">
          <span class="fw-normal">{{hour.weekDayNr | day}}</span>: {{hour.fromHour | date:'HH:mm':'+0000':'pl-PL'}} -
          {{hour.toHour | date:'HH:mm':'+0000':'pl-PL'}}
        </span>
      </ng-container>
    </div>
    <div class="col-xl-3 offset-xl-1">
      <h2 class="text-center mb-4">Formularz kontaktowy</h2>
      <form [formGroup]="contactForm" #form="ngForm" (ngSubmit)="!contactForm.invalid && onSubmit()">
        <div class="form-group mb-4">
          <label for="name">Imie</label>
          <input type="text" placeholder="Imię" formControlName="firstName" class="form-control" id="name" maxlength="32"
                 [ngClass]="{ 'is-invalid': form.submitted && f['firstName'].errors ||
                    (errors.has('name') && f['firstName'].pristine)  }" />
          <div *ngIf="form.submitted && f['firstName'].errors" class="invalid-feedback">
            <div *ngIf="f['firstName'].errors['required']">
              Imie jest wymagane
            </div>
            <div *ngIf="f['firstName'].errors['pattern']">
              Imie jest nieprawidłowe
            </div>
          </div>
          <div *ngIf="errors.has('name') && f['firstName'].valid && f['firstName'].pristine" class="invalid-feedback d-block">
            {{errors.get('name')}}
          </div>
        </div>
        <div class="form-group mb-4">
          <label for="email">E-mail</label>
          <input type="text" placeholder="Email" formControlName="email" class="form-control" id="email"
                 [ngClass]="{ 'is-invalid': form.submitted && f['email'].errors ||
                    (errors.has('email') && f['email'].pristine)  }" />
          <div *ngIf="form.submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">
              Email jest wymagany
            </div>
            <div *ngIf="f['email'].errors['email']">
              Email jest nieprawidłowy
            </div>
          </div>
          <div *ngIf="errors.has('email') && f['email'].valid && f['email'].pristine" class="invalid-feedback d-block">
            {{errors.get('email')}}
          </div>
        </div>
        <div class="form-group mb-4">
          <label for="phoneNumber">Numer telefonu</label>
          <input type="text" placeholder="Numer telefonu" formControlName="phoneNumber" class="form-control" id="phoneNumber"
                 [ngClass]="{ 'is-invalid': form.submitted && f['phoneNumber'].errors ||
                    (errors.has('phoneNumber') && f['phoneNumber'].pristine)  }" />
          <div *ngIf="form.submitted && f['phoneNumber'].errors" class="invalid-feedback">
            <div *ngIf="f['phoneNumber'].errors['required']">
              Numer telefonu jest wymagany
            </div>
            <div *ngIf="f['phoneNumber'].errors['pattern']">
              Numer telefonu jest nieprawidłowy
            </div>
          </div>
          <div *ngIf="errors.has('phoneNumber') && f['phoneNumber'].valid && f['phoneNumber'].pristine" class="invalid-feedback d-block">
            {{errors.get('phoneNumber')}}
          </div>
        </div>
        <div class="form-group mb-4">
          <label for="subject">Temat</label>
          <input type="text" placeholder="Temat" formControlName="subject" class="form-control" id="subject" maxlength="100"
                 [ngClass]="{ 'is-invalid': form.submitted && f['subject'].errors ||
                    (errors.has('subject') && f['subject'].pristine)  }" />
          <div *ngIf="form.submitted && f['subject'].errors" class="invalid-feedback">
            <div *ngIf="f['subject'].errors['required']">
              Temat maila jest wymagany
            </div>
            <div *ngIf="f['subject'].errors['maxlength']">
              Temat maila jest za długi. Może mieć maksymalnie 100 znaków
            </div>
          </div>
          <div *ngIf="errors.has('subject') && f['subject'].valid && f['subject'].pristine" class="invalid-feedback d-block">
            {{errors.get('subject')}}
          </div>
        </div>
        <div class="form-group mb-4">
          <label for="content">Treść</label>
          <textarea cols="20" rows="20" placeholder="Treść" formControlName="content" class="form-control" id="content" maxlength="1000"
                 [ngClass]="{ 'is-invalid': form.submitted && f['content'].errors ||
                    (errors.has('content') && f['content'].pristine)  }"></textarea>
          <div *ngIf="form.submitted && f['content'].errors" class="invalid-feedback">
            <div *ngIf="f['content'].errors['required']">
              Treść maila jest wymagana
            </div>
            <div *ngIf="f['content'].errors['maxlength']">
              Treść maila jest za długa. Może mieć maksymalnie 1000 znaków
            </div>
          </div>
          <div *ngIf="errors.has('content') && f['content'].valid && f['content'].pristine" class="invalid-feedback d-block">
            {{errors.get('content')}}
          </div>
        </div>
        <div class="form-group">
          <div class="d-grid gap-2">
            <button class="btn btn-outline-grey">
              Wyślij
            </button>
          </div>
        </div>
        <div *ngIf="(form.submitted && form.invalid) || errors.size > 0" class="invalid-feedback d-block">
          Formularz zawiera błędy
        </div>
      </form>
    </div>
  </div>
</section>
<app-footer></app-footer>
