<div id="dish-{{i}}" class="row m-0 py-4 border-bottom" *ngFor="let dish of dishes; index as i">
  <div class="col-md-4">
    <img class="img-fluid" [src]="dish.imageUrl" alt="dish"/>
  </div>
  <div class="col-md-6">
    <h5>{{dish.name}}</h5>
    <p>{{dish.ingredients}}</p>
  </div>
  <div class="col-md-2">
    <span class="d-flex pb-4" style="padding-left: 12px">
      {{dish.price | currency:'PLN':'symbol-narrow':'1.2-2':'pl-PL'}}
    </span>
    <button (click)="addToBasket(dish)" class="btn btn-outline-grey">Zamów</button>
  </div>
</div>
