<div class="pb-3">
  <div class="bg-white p-2" style="border-radius: 10px;">
    <div class="d-flex justify-content-between align-items-center">
      <div>
      </div>
      <div>
        <h4 class="text-center pt-2">Detale faktury</h4>
      </div>
      <div>
        <fa-icon (click)="closeComponent()" style="font-size: 1.5rem;cursor: pointer" [icon]="faXmark"></fa-icon>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-xl-3">
        <div class="d-flex justify-content-center align-items-center">
          <fa-icon class="fa-9x" [icon]="faFileInvoice"></fa-icon>
        </div>
      </div>
      <div class="col-xl-9 mt-4">
        <h5 class="fw-light">Informacje wstępne</h5>
        <form [formGroup]="invoiceForm" #form="ngForm"
              (ngSubmit)="getInvalidControl() && !invoiceForm.invalid && onInvoiceFormSubmit()">
          <div class="row m-0">
            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="nr">Numer faktury</label>
                <input type="text" placeholder="Wpisz numer faktury" formControlName="nr"
                       class="form-control" id="nr" maxlength="20"
                       [ngClass]="{ 'is-invalid': form.submitted && f['nr'].errors ||
                    (errors.has('nr') && f['nr'].pristine)  }"/>
                <div *ngIf="form.submitted && f['nr'].errors" class="invalid-feedback">
                  <div *ngIf="f['nr'].errors['required']">
                    Numer faktury jest wymagany
                  </div>
                  <div *ngIf="f['nr'].errors['maxlength']">
                    Numer faktury nie może przekraczać 20 znaków
                  </div>
                </div>
                <div *ngIf="errors.has('nr') && f['nr'].valid && f['nr'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('nr')}}
                </div>
              </div>
            </div>

            <div *ngIf="invoiceInfo && invoiceInfo.restaurantInfo && _invoiceNr !== ''" class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="place">Lokal</label>
                <span id="place" class="form-control">
                  {{invoiceInfo.restaurantInfo.city}}, ul {{invoiceInfo.restaurantInfo.street}}
                </span>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="date">Data wystawienia faktury</label>
                <div class="input-group">
                  <input type="text" placeholder="Wpisz datę wystawienia faktury" formControlName="date"
                         class="form-control" id="date" ngbDatepicker #d="ngbDatepicker"
                         [ngClass]="{ 'is-invalid': form.submitted && f['date'].errors ||
                    (errors.has('date') && f['date'].pristine)  }"/>
                  <button type="button" class="btn btn-outline-grey calendar" (click)="d.toggle()"></button>
                </div>
                <div *ngIf="form.submitted && f['date'].errors" class="invalid-feedback d-block">
                  <div *ngIf="f['date'].errors['required']">
                    Data wystawienia faktury jest wymagana
                  </div>
                </div>
                <div *ngIf="errors.has('date') && f['date'].valid && f['date'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('date')}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="completionDate">Data realizacji faktury</label>
                <div class="input-group">
                  <input type="text" placeholder="Wpisz datę realizacji faktury" formControlName="completionDate"
                         class="form-control" id="completionDate" ngbDatepicker #dr="ngbDatepicker"
                         [ngClass]="{ 'is-invalid': form.submitted && f['completionDate'].errors ||
                    (errors.has('completionDate') && f['completionDate'].pristine)  }"/>
                  <button type="button" class="btn btn-outline-grey calendar" (click)="dr.toggle()"></button>
                </div>
                <div *ngIf="form.submitted && f['completionDate'].errors" class="invalid-feedback d-block">
                  <div *ngIf="f['completionDate'].errors['required']">
                    Data realizacji faktury jest wymagana
                  </div>
                </div>
                <div *ngIf="errors.has('completionDate') && f['completionDate'].valid && f['completionDate'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('completionDate')}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="price">Cena brutto faktury</label>
                <input type="number" placeholder="Wpisz cenę brutto faktury" formControlName="price"
                       class="form-control" id="price" maxlength="20"
                       [ngClass]="{ 'is-invalid': form.submitted && f['price'].errors ||
                    (errors.has('price') && f['price'].pristine)  }"/>
                <div *ngIf="form.submitted && f['price'].errors" class="invalid-feedback">
                  <div *ngIf="f['price'].errors['required']">
                    Cena brutto faktury jest wymagany
                  </div>
                  <div *ngIf="f['price'].errors['min']">
                    Cena brutto faktury nie może być liczbą ujemną
                  </div>
                </div>
                <div *ngIf="errors.has('price') && f['price'].valid && f['price'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('price')}}
                </div>
              </div>
            </div>
          </div>

          <hr>
          <h5 class="fw-light">Sprzedawca</h5>

          <div class="row m-0">
            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="sellerName">Nazwa sprzedawcy</label>
                <input type="text" placeholder="Wpisz nazwę sprzedawcy" formControlName="sellerName"
                       class="form-control" id="sellerName" maxlength="65"
                       [ngClass]="{ 'is-invalid': form.submitted && f['sellerName'].errors ||
                    (errors.has('sellerName') && f['sellerName'].pristine)  }"/>
                <div *ngIf="form.submitted && f['sellerName'].errors" class="invalid-feedback">
                  <div *ngIf="f['sellerName'].errors['required']">
                    Nazwa sprzedawcy jest wymagana
                  </div>
                  <div *ngIf="f['sellerName'].errors['maxlength']">
                    Nazwa sprzedawcy nie może przekraczać 65 znaków
                  </div>
                </div>
                <div *ngIf="errors.has('sellerName') && f['sellerName'].valid && f['sellerName'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('sellerName')}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="sellerNip">Numer NIP sprzedawcy</label>
                <input type="text" placeholder="Wpisz numer NIP sprzedawcy" formControlName="sellerNip"
                       class="form-control" id="sellerNip"
                       [ngClass]="{ 'is-invalid': form.submitted && f['sellerNip'].errors ||
                    (errors.has('sellerNip') && f['sellerNip'].pristine)  }"/>
                <div *ngIf="form.submitted && f['sellerNip'].errors" class="invalid-feedback">
                  <div *ngIf="f['sellerNip'].errors['required']">
                    Numer NIP sprzedawcy jest wymagana
                  </div>
                  <div *ngIf="f['sellerNip'].errors['pattern']">
                    Numer NIP sprzedawcy jest nieprawidłowy
                  </div>
                </div>
                <div *ngIf="errors.has('sellerNip') && f['sellerNip'].valid && f['sellerNip'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('sellerNip')}}
                </div>
              </div>
            </div>

            <h6 class="fw-light">Adres</h6>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="sellerCity">Miasto</label>
                <input type="text" placeholder="Wpisz miasto" formControlName="sellerCity"
                       class="form-control" id="sellerCity"
                       [ngClass]="{ 'is-invalid': form.submitted && f['sellerCity'].errors ||
                    (errors.has('sellerAddress.city') && f['sellerCity'].pristine)}"/>
                <div *ngIf="form.submitted && f['sellerCity'].errors" class="invalid-feedback">
                  <div *ngIf="f['sellerCity'].errors['required']">
                    Miasto jest wymagane
                  </div>
                  <div *ngIf="f['sellerCity'].errors['pattern']">
                    Miasto jest nieprawidłowe
                  </div>
                </div>
                <div *ngIf="errors.has('sellerAddress.city') && f['sellerCity'].valid && f['sellerCity'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('sellerAddress.city')}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="sellerStreet">Ulica:</label>
                <input type="text" placeholder="Podaj ulicę" formControlName="sellerStreet"
                       class="form-control" id="sellerStreet"
                       [ngClass]="{ 'is-invalid': form.submitted && f['sellerStreet'].errors ||
                    (errors.has('sellerAddress.street') && f['sellerStreet'].pristine)  }"/>
                <div *ngIf="form.submitted && f['sellerStreet'].errors" class="invalid-feedback">
                  <div *ngIf="f['sellerStreet'].errors['required']">
                    Nazwa ulicy jest wymagana
                  </div>
                  <div *ngIf="f['sellerStreet'].errors['pattern']">
                    Nazwa ulicy jest nieprawidłowa
                  </div>
                </div>
                <div *ngIf="errors.has('sellerAddress.street') && f['sellerStreet'].valid && f['sellerStreet'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('sellerAddress.street')}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="sellerHouseNr">Numer domu:</label>
                <input type="text" placeholder="Podaj numer domu" formControlName="sellerHouseNr" class="form-control"
                       id="sellerHouseNr"
                       [ngClass]="{ 'is-invalid': form.submitted && f['sellerHouseNr'].errors ||
                    (errors.has('sellerAddress.houseNr') && f['sellerHouseNr'].pristine)  }"/>
                <div *ngIf="form.submitted && f['sellerHouseNr'].errors" class="invalid-feedback">
                  <div *ngIf="f['sellerHouseNr'].errors['required']">
                    Numer domu jest wymagany
                  </div>
                  <div *ngIf="f['sellerHouseNr'].errors['pattern']">
                    Numer domu jest nieprawidłowy
                  </div>
                </div>
                <div *ngIf="errors.has('sellerAddress.houseNr') && f['sellerHouseNr'].valid && f['sellerHouseNr'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('sellerAddress.houseNr')}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="sellerFlatNr">Numer mieszkania:</label>
                <input type="text" placeholder="Podaj numer mieszkania" formControlName="sellerFlatNr"
                       class="form-control"
                       id="sellerFlatNr"
                       [ngClass]="{ 'is-invalid': form.submitted && f['sellerFlatNr'].errors ||
                    (errors.has('sellerAddress.flatNr') && f['sellerFlatNr'].pristine)  }"/>
                <div *ngIf="form.submitted && f['sellerFlatNr'].errors" class="invalid-feedback">
                  <div *ngIf="f['sellerFlatNr'].errors['required']">
                    Numer mieszkania jest wymagany
                  </div>
                  <div *ngIf="f['sellerFlatNr'].errors['pattern']">
                    Numer mieszkania jest nieprawidłowy
                  </div>
                </div>
                <div *ngIf="errors.has('sellerAddress.flatNr') && f['sellerFlatNr'].valid && f['sellerFlatNr'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('sellerAddress.flatNr')}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="sellerPostcode">Kod pocztowy:</label>
                <input type="text" placeholder="Podaj kod pocztowy" formControlName="sellerPostcode"
                       class="form-control"
                       id="sellerPostcode"
                       [ngClass]="{ 'is-invalid': form.submitted && f['sellerPostcode'].errors ||
                    (errors.has('sellerAddress.postcode') && f['sellerPostcode'].pristine)  }"/>
                <div *ngIf="form.submitted && f['sellerPostcode'].errors" class="invalid-feedback">
                  <div *ngIf="f['sellerPostcode'].errors['required']">
                    Kod pocztowy jest wymagany
                  </div>
                  <div *ngIf="f['sellerPostcode'].errors['pattern']">
                    Kod pocztowy jest nieprawidłowy
                  </div>
                </div>
                <div *ngIf="errors.has('sellerAddress.flatNr') && f['sellerPostcode'].valid && f['sellerPostcode'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('sellerAddress.flatNr')}}
                </div>
              </div>
            </div>
          </div>

          <hr>
          <h5 class="fw-light">Kupiec</h5>

          <div class="row m-0">
            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="buyerName">Nazwa kupca</label>
                <input type="text" placeholder="Wpisz nazwę kupca" formControlName="buyerName"
                       class="form-control" id="buyerName" maxlength="65"
                       [ngClass]="{ 'is-invalid': form.submitted && f['buyerName'].errors ||
                    (errors.has('buyerName') && f['buyerName'].pristine)  }"/>
                <div *ngIf="form.submitted && f['buyerName'].errors" class="invalid-feedback">
                  <div *ngIf="f['buyerName'].errors['required']">
                    Nazwa kupca jest wymagana
                  </div>
                  <div *ngIf="f['buyerName'].errors['maxlength']">
                    Nazwa kupca nie może przekraczać 65 znaków
                  </div>
                </div>
                <div *ngIf="errors.has('buyerName') && f['buyerName'].valid && f['buyerName'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('buyerName')}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="buyerNip">Numer NIP kupca</label>
                <input type="text" placeholder="Wpisz numer NIP kupca" formControlName="buyerNip"
                       class="form-control" id="buyerNip"
                       [ngClass]="{ 'is-invalid': form.submitted && f['buyerNip'].errors ||
                    (errors.has('buyerNip') && f['buyerNip'].pristine)  }"/>
                <div *ngIf="form.submitted && f['buyerNip'].errors" class="invalid-feedback">
                  <div *ngIf="f['buyerNip'].errors['required']">
                    Numer NIP kupca jest wymagany
                  </div>
                  <div *ngIf="f['buyerNip'].errors['pattern']">
                    Numer NIP kupca jest nieprawidłowy
                  </div>
                </div>
                <div *ngIf="errors.has('buyerNip') && f['buyerNip'].valid && f['buyerNip'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('buyerNip')}}
                </div>
              </div>
            </div>

            <h6 class="fw-light">Adres</h6>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="buyerCity">Miasto</label>
                <input type="text" placeholder="Wpisz miasto" formControlName="buyerCity"
                       class="form-control" id="buyerCity"
                       [ngClass]="{ 'is-invalid': form.submitted && f['buyerCity'].errors ||
                    (errors.has('buyerAddress.city') && f['buyerCity'].pristine)}"/>
                <div *ngIf="form.submitted && f['buyerCity'].errors" class="invalid-feedback">
                  <div *ngIf="f['buyerCity'].errors['required']">
                    Miasto jest wymagane
                  </div>
                  <div *ngIf="f['buyerCity'].errors['pattern']">
                    Miasto jest nieprawidłowe
                  </div>
                </div>
                <div *ngIf="errors.has('buyerAddress.city') && f['buyerCity'].valid && f['buyerCity'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('buyerAddress.city')}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="buyerStreet">Ulica:</label>
                <input type="text" placeholder="Podaj ulicę" formControlName="buyerStreet"
                       class="form-control" id="buyerStreet"
                       [ngClass]="{ 'is-invalid': form.submitted && f['buyerStreet'].errors ||
                    (errors.has('buyerAddress.street') && f['buyerStreet'].pristine)  }"/>
                <div *ngIf="form.submitted && f['buyerStreet'].errors" class="invalid-feedback">
                  <div *ngIf="f['buyerStreet'].errors['required']">
                    Nazwa ulicy jest wymagana
                  </div>
                  <div *ngIf="f['buyerStreet'].errors['pattern']">
                    Nazwa ulicy jest nieprawidłowa
                  </div>
                </div>
                <div *ngIf="errors.has('buyerAddress.street') && f['buyerStreet'].valid && f['buyerStreet'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('buyerAddress.street')}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="buyerHouseNr">Numer domu:</label>
                <input type="text" placeholder="Podaj numer domu" formControlName="buyerHouseNr" class="form-control"
                       id="buyerHouseNr"
                       [ngClass]="{ 'is-invalid': form.submitted && f['buyerHouseNr'].errors ||
                    (errors.has('buyerAddress.houseNr') && f['buyerHouseNr'].pristine)  }"/>
                <div *ngIf="form.submitted && f['buyerHouseNr'].errors" class="invalid-feedback">
                  <div *ngIf="f['buyerHouseNr'].errors['required']">
                    Numer domu jest wymagany
                  </div>
                  <div *ngIf="f['buyerHouseNr'].errors['pattern']">
                    Numer domu jest nieprawidłowy
                  </div>
                </div>
                <div *ngIf="errors.has('buyerAddress.houseNr') && f['buyerHouseNr'].valid && f['buyerHouseNr'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('buyerAddress.houseNr')}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="buyerFlatNr">Numer mieszkania:</label>
                <input type="text" placeholder="Podaj numer mieszkania" formControlName="buyerFlatNr"
                       class="form-control"
                       id="buyerFlatNr"
                       [ngClass]="{ 'is-invalid': form.submitted && f['buyerFlatNr'].errors ||
                    (errors.has('buyerAddress.flatNr') && f['buyerFlatNr'].pristine)  }"/>
                <div *ngIf="form.submitted && f['buyerFlatNr'].errors" class="invalid-feedback">
                  <div *ngIf="f['buyerFlatNr'].errors['required']">
                    Numer mieszkania jest wymagany
                  </div>
                  <div *ngIf="f['buyerFlatNr'].errors['pattern']">
                    Numer mieszkania jest nieprawidłowy
                  </div>
                </div>
                <div *ngIf="errors.has('buyerAddress.flatNr') && f['buyerFlatNr'].valid && f['buyerFlatNr'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('buyerAddress.flatNr')}}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-2 mb-md-4">
              <div class="form-group">
                <label class="fw-bolder" for="buyerPostcode">Kod pocztowy:</label>
                <input type="text" placeholder="Podaj kod pocztowy" formControlName="buyerPostcode" class="form-control"
                       id="buyerPostcode"
                       [ngClass]="{ 'is-invalid': form.submitted && f['buyerPostcode'].errors ||
                    (errors.has('buyerAddress.postcode') && f['buyerPostcode'].pristine)  }"/>
                <div *ngIf="form.submitted && f['buyerPostcode'].errors" class="invalid-feedback">
                  <div *ngIf="f['buyerPostcode'].errors['required']">
                    Kod pocztowy jest wymagany
                  </div>
                  <div *ngIf="f['buyerPostcode'].errors['pattern']">
                    Kod pocztowy jest nieprawidłowy
                  </div>
                </div>
                <div *ngIf="errors.has('buyerAddress.postcode') && f['buyerPostcode'].valid && f['buyerPostcode'].pristine"
                     class="invalid-feedback d-block">
                  {{errors.get('buyerAddress.postcode')}}
                </div>
              </div>
            </div>
          </div>

          <hr>
          <h5 class="fw-light">Zakupione towary</h5>

          <div class="row m-0">
            <ng-container *ngFor="let good of f['goods'].value; index as i">
              <div class="col-md-4 mb-2 mb-md-4">
                <div class="form-group">
                  <label class="fw-bolder" for="ingredient">Nazwa towaru</label>
                  <div class="input-group">
                    <button type="button" class="btn btn-outline-danger" (click)="removeGoodFromInvoice(i)" ngbTooltip="Usuń towar">
                      <fa-icon [icon]="faXmark"></fa-icon>
                    </button>
                    <input type="text" placeholder="Nazwa składnika" [(ngModel)]="good.ingredient"
                           [ngModelOptions]="{standalone: true}"
                           class="form-control" id="ingredient" list="ingredients"
                           [ngClass]="{ 'is-invalid': errors.has('goods[' + i + '].ingredient')}"/>
                    <datalist id="ingredients">
                          <option *ngFor="let ingredientInfo of ingredients | keyvalue" [value]="ingredientInfo.value">
                            {{ingredientInfo.value}}
                          </option>
                    </datalist>
                  </div>
                  <div *ngIf="errors.has('goods[' + i + '].ingredient')"
                       class="invalid-feedback d-block">
                    {{errors.get('goods[' + i + '].ingredient')}}
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-2 mb-md-4">
                <div class="form-group">
                  <label class="fw-bolder" for="quantity">Ilość towaru</label>
                  <div id="quantity" class="input-group">
                    <input type="number" placeholder="Wpisz ilość towaru" [(ngModel)]="good.quantity"
                           [ngModelOptions]="{standalone: true}"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': errors.has('goods[' + i + '].quantity')}"/>
                    <select [(ngModel)]="good.unitId"
                            [ngModelOptions]="{standalone: true}"
                            class="form-select"
                            [ngClass]="{ 'is-invalid': errors.has('goods[' + i + '].unitId')}">
                      <option disabled hidden [ngValue]="-1">Wybierz jednostkę</option>
                      <option *ngFor="let unit of units" [ngValue]="unit.id">{{unit.name}}</option>
                    </select>
                  </div>
                  <div *ngIf="errors.has('goods[' + i + '].quantity') || errors.has('goods[' + i + '].unitId')"
                       class="invalid-feedback d-block">
                    {{errors.get('goods[' + i + '].quantity')}} <br>
                    {{errors.get('goods[' + i + '].unitId')}}
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-2 mb-md-4">
                <div class="form-group">
                  <label class="fw-bolder" for="unitNetPrice">Cena jednostkowa towaru netto</label>
                  <div class="input-group">
                    <input type="number" placeholder="Wpisz cene jednostkową towaru netto"
                           [(ngModel)]="good.unitNetPrice"
                           [ngModelOptions]="{standalone: true}"
                           class="form-control" id="unitNetPrice"
                           [ngClass]="{ 'is-invalid': errors.has('goods[' + i + '].unitNetPrice')}"/>
                    <span class="input-group-text">zł</span>
                  </div>
                  <div *ngIf="errors.has('goods[' + i + '].unitNetPrice')"
                       class="invalid-feedback d-block">
                    {{errors.get('goods[' + i + '].unitNetPrice')}}
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-2 mb-md-4">
                <div class="form-group">
                  <label class="fw-bolder" for="discount">Rabat</label>
                  <div class="input-group">
                    <input type="number" placeholder="Wpisz rabat" [(ngModel)]="good.discount"
                           [ngModelOptions]="{standalone: true}"
                           class="form-control" id="discount"
                           [ngClass]="{ 'is-invalid': errors.has('goods[' + i + '].discount')}"/>
                    <span class="input-group-text">zł</span>
                  </div>
                  <div *ngIf="errors.has('goods[' + i + '].discount')"
                       class="invalid-feedback d-block">
                    {{errors.get('goods[' + i + '].discount')}}
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-2 mb-md-4">
                <div class="form-group">
                  <label class="fw-bolder" for="netPrice">Cena netto</label>
                  <div class="input-group">
                    <input type="number" placeholder="Wpisz cennę netto za towar" [(ngModel)]="good.netPrice"
                           [ngModelOptions]="{standalone: true}"
                           class="form-control" id="netPrice"
                           [ngClass]="{ 'is-invalid': errors.has('goods[' + i + '].netPrice')}"/>
                    <span class="input-group-text">zł</span>
                  </div>
                  <div *ngIf="errors.has('goods[' + i + '].netPrice')"
                       class="invalid-feedback d-block">
                    {{errors.get('goods[' + i + '].netPrice')}}
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-2 mb-md-4">
                <div class="form-group">
                  <label class="fw-bolder" for="taxType">Typ opodatkowania</label>
                  <select [(ngModel)]="good.taxType" (ngModelChange)="calculateTaxPrice(i)"
                         [ngModelOptions]="{standalone: true}"
                         class="form-select" id="taxType"
                         [ngClass]="{ 'is-invalid': errors.has('goods[' + i + '].taxType')}">
                    <option disabled hidden [ngValue]="null">Wybierz typ opodatkowania towaru</option>
                    <option *ngFor="let type of taxTypes" [ngValue]="type">{{type}}</option>
                  </select>
                  <div *ngIf="errors.has('goods[' + i + '].taxType')"
                       class="invalid-feedback d-block">
                    {{errors.get('goods[' + i + '].taxType')}}
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-2 mb-md-4">
                <div class="form-group">
                  <label class="fw-bolder" for="taxPrice">Kwota podatku Vat</label>
                  <div class="input-group">
                    <input type="number" placeholder="Wpisz kwotę podatku vat" [(ngModel)]="good.taxPrice"
                           [ngModelOptions]="{standalone: true}"
                           class="form-control" id="taxPrice"
                           [ngClass]="{ 'is-invalid': errors.has('goods[' + i + '].taxPrice')}"/>
                    <span class="input-group-text">zł</span>
                  </div>
                  <div *ngIf="errors.has('goods[' + i + '].taxPrice')"
                       class="invalid-feedback d-block">
                    {{errors.get('goods[' + i + '].taxPrice')}}
                  </div>
                </div>
              </div>

              <hr>
            </ng-container>
            <div *ngIf="form.submitted && f['goods'].errors" class="invalid-feedback d-block">
              <div *ngIf="f['goods'].errors['required']">
                Lista towarów na fakturze nie może być pusta
              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mb-2 mb-md-4">
              <button type="button" class="btn btn-outline-success" (click)="addGoodToInvoice()">
                <fa-icon [icon]="faPlus"></fa-icon>
                Dodaj nowy towar
              </button>
            </div>
          </div>

          <div class="form-group">
            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-outline-grey">
                Zapisz
              </button>
            </div>
          </div>

          <div *ngIf="isSuccessful" class="d-block alert-success mt-2">
            <div class="d-grid text-center" style="font-size: 1.5rem;">
              Dane zostały zaktualizowane
            </div>
          </div>

          <div *ngIf="(form.submitted && form.invalid) || errors.size > 0" class="invalid-feedback d-block">
            <div class="d-flex justify-content-center align-items-center">
              Formularz zawiera błędy
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
