<app-header></app-header>
<section class="container-fluid" [style.height]="sectionHeight">
  <div class="row py-5" [style.height]="sectionHeight">
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-block p-5 bg-white" style="box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);">
        <div class="mb-4 text-center">
          <h2 >Formularz logowania</h2>
        </div>
        <div>
          <form [formGroup]="loginForm" #form="ngForm" (ngSubmit)="!loginForm.invalid && onSubmit()">
            <div class="form-group mb-4">
              <input type="text" placeholder="Nazwa użytkownika" formControlName="username"
                     class="form-control text-center"
                     id="username" maxlength="30"
                     [ngClass]="{ 'is-invalid': form.submitted && f['username'].errors }" />
              <div *ngIf="form.submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">
                  Nazwa użytkownika jest wymagana
                </div>
              </div>
            </div>
            <div class="form-group mb-4">
              <input type="password" placeholder="Hasło" formControlName="password" class="form-control text-center"
                     id="password" maxlength="30"
                     [ngClass]="{ 'is-invalid': form.submitted && f['password'].errors }" />
              <div *ngIf="form.submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">
                  Hasło jest wymagane
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-grey">
                  Zaloguj się
                </button>
              </div>
            </div>
            <div *ngIf="form.submitted && errors.has('password')" class="invalid-feedback d-block text-center pt-2">
              {{errors.get('password')}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
