ul.dots {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none
}

ul.dots li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
}

ul.dots span:first-child {
  padding-right: 0.24em;
  background-image: url('~src/assets/background.jpg');
}

ul.dots span + span {
  float: right;
  padding-left: 0.24em;
  background-image: url('~src/assets/background.jpg');
}
