ul.dots {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none
}

ul.dots li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
}

ul.dots span:first-child {
  padding-right: 0.24em;
  background-image: url('../../../../assets/background.jpg');
}

ul.dots span + span {
  float: right;
  padding-left: 0.24em;
  background-image: url('../../../../assets/background.jpg');
}

.best-dish {
  border: 2px solid var(--grey);
  margin-top: 40px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.recommend-text {
  position: absolute;
  left: -2px;
  top: -29px;
  background-color: var(--grey);
  z-index: 100;
  font-size: 13px;
}

.padding {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

@media only screen and (max-width: 1200px) {
  .padding {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
}
