<section class="container-fluid p-0 d-inline-block h-100">
  <div class="row m-0 h-100">
    <div id="sideNav" class="px-0" [class.d-none]="isNavCollapsed && (innerWidth <= 1200)"
         [class.col-1]="(!isNavCollapsed && (innerWidth <= 1200 && innerWidth > 760)) ||
         (isNavCollapsed && (innerWidth > 1200 && innerWidth > 760))"
         [class.col-2]="(!isNavCollapsed && (innerWidth > 1200)) || (innerWidth <= 760)"
         style="transition: 0.5s">
      <nav [class.p-4]="innerWidth > 1200" [class.p-1]="innerWidth < 1200"
           class="d-flex flex-column flex-shrink-0 text-white bg-grey h-100">
        <a class="d-flex justify-content-center align-items-center" routerLink="/admin/dashboard">
          <img *ngIf="!isCollapsed" class="img-fluid" src="assets/restaurantIcon.jpg" alt="Restaurant Icon">
          <img *ngIf="isCollapsed" class="img-fluid" src="assets/icon.jpg" alt="Restaurant Icon">
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto active">
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-center align-items-center"
               style="font-size: 18px" routerLink="/admin/dashboard" routerLinkActive="active">
              <fa-icon class="me-1" [icon]="faHouseChimney"></fa-icon>
              <span class="text-uppercase" *ngIf="!isCollapsed">Panel główny</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-center align-items-center"
               style="font-size: 18px" routerLink="/admin/orders" routerLinkActive="active">
              <fa-icon class="me-1" [icon]="faCartShopping"></fa-icon>
              <span class="text-uppercase" *ngIf="!isCollapsed">Zamówienia</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-center align-items-center"
               style="font-size: 18px" routerLink="/admin/employees" routerLinkActive="active">
              <fa-icon class="me-1" [icon]="faPeopleGroup"></fa-icon>
              <span class="text-uppercase" *ngIf="!isCollapsed">Pracownicy</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-center align-items-center"
               style="font-size: 18px" routerLink="/admin/supply" routerLinkActive="active">
              <fa-icon class="me-1" [icon]="faBoxesStacked"></fa-icon>
              <span class="text-uppercase" *ngIf="!isCollapsed">Zaopatrzenie</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-center align-items-center"
               style="font-size: 18px" routerLink="/admin/news" routerLinkActive="active">
              <fa-icon class="me-1" [icon]="faNewspaper"></fa-icon>
              <span class="text-uppercase" *ngIf="!isCollapsed">Aktualności</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-center align-items-center"
               style="font-size: 18px" routerLink="/admin/menu" routerLinkActive="active">
              <fa-icon class="me-1" [icon]="faUtensils"></fa-icon>
              <span class="text-uppercase" *ngIf="!isCollapsed">Menu</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex justify-content-center align-items-center"
               style="font-size: 18px" routerLink="/admin/statistics" routerLinkActive="active">
              <fa-icon class="me-1" [icon]="faChartLine"></fa-icon>
              <span class="text-uppercase" *ngIf="!isCollapsed">Statystyki</span>
            </a>
          </li>
        </ul>
        <hr>
        <div class="d-flex justify-content-center align-items-center">
          <div ngbDropdown class="d-inline-block">
            <a style="cursor: pointer" class="text-white" id="userDropdown" ngbDropdownToggle>
              <fa-icon class="me-2" [icon]="faUser"></fa-icon>
              <span *ngIf="!isCollapsed">Arcmistrz</span>
            </a>
            <div class="text-start w-auto" ngbDropdownMenu aria-labelledby="userDropdown">
              <button ngbDropdownItem>
                <fa-icon class="me-1" [icon]="faArrowRightFromBracket"></fa-icon>
                <span>Wyloguj się</span>
              </button>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div id="content" class="px-0" style="background-color: #f1f1f1"
         [class.col-12]="isNavCollapsed && (innerWidth <= 1200)"
         [class.col-11]="(!isNavCollapsed && (innerWidth <= 1200 && innerWidth > 760)) ||
         (isNavCollapsed && (innerWidth > 1200 && innerWidth > 760))"
         [class.col-10]="(!isNavCollapsed && (innerWidth > 1200)) || (innerWidth <= 760)"
         [style.transition]="innerWidth > 1200 ? '0.5s' : '0s'">
      <div id="header" class="row py-3 m-0">
        <div class="d-inline-block">
          <fa-icon *ngIf="isNavCollapsed" class="ps-3 me-2" (click)="showMenu()"
                   style="font-size: 26px; cursor: pointer" [icon]="faBars"></fa-icon>
          <fa-icon *ngIf="!isNavCollapsed" class="ps-3 me-2" (click)="showMenu()"
                   style="font-size: 26px; cursor: pointer" [icon]="faXmark"></fa-icon>
          <span class="ps-3 mb-0 fw-bold" style="font-size: 26px">{{contentHeader}}</span>
        </div>
      </div>
      <hr class="my-0">
      <div class="overflow-auto" [style.height.px]="contentHeight">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
