<app-header></app-header>
<section class="container-fluid" style="background-image: url('assets/background.jpg')">
  <app-topic-image [urlImage]="welcomeImg" [minHeight]="700" content="Witaj w naszej kuchni"></app-topic-image>
  <div class="row my-5">
    <div class="col-12 col-lg-4 offset-lg-2 my-5">
      <img class="img-fluid px-0 d-flex mx-auto" src="assets/food.jpg" alt="food picture">
    </div>
    <div class="col-lg-4 my-5">
      <h2 class="text-center" style="font-family: 'Kaushan Script', cursive;">Restaurant</h2>
      <p class="px-5 mt-3" style="text-align: center">
        Jesteśmy młodym, zdolnym, dynamicznym zespołem kucharzy,
        którzy pewnego dnia zamarzyli o posiadaniu własnej restauracji. Dzięki ciężkiej pracy i odrobinie szczęścia
        udało nam się zrealizować nasze marzenia. Każdy kolejny dzień poświęcamy na polepszanie naszych dań,
        by wciąż zaskakiwać nowym nietuzinkowym doznaniem.
        Aby odwdzięczyć się naszym klientom za obdarowanie nas zaufaniem, wkładamy
        100% sił i serca, aby przygotować najlepsze posiłki, jakie kiedykolwiek jedli.
        W naszych daniach znajdziecie dużo miłości, pasji i ciężkiej pracy.
        Podczas posiłku przeżyjecie niezapomniane wrażenia, które będą kazały wam wrócić po więcej. Prócz pysznych
        dań możecie także liczyć na cudowną, kameralną atmosferę. Nutka jazzu wzbogaci i dopełni wasz pobyt u nas.
        Obsługa jest niesamowicie miła i pomocna. Jeśli będziecie mieć jakieś zastrzeżenia lub uwagi, nasz manager
        bardzo chętnie ich wysłucha. Wasze opinie są dla nas niezmiennie ważne, bo dzięki nim możemy się rozwijać i być
        coraz lepsi. Nasza restauracja jest czynna przez większość dni tygodnia, dlatego czekamy na was przy ulicy
        Niewiadomskiego 102 w Kielcach.
      </p>
      <button routerLink="/news/feed" class="btn btn-grey d-flex mx-auto">
        Zobacz więcej
      </button>
    </div>
  </div>
  <app-topic-image [urlImage]="menuImg" [minHeight]="500" content="Najlepsze dania"></app-topic-image>
  <div class="row">
    <div class="col-lg-6 mt-5 mb-2">
      <h2 class="text-center" style="font-family: 'Kaushan Script', cursive;">
        Najciekawsze pozycje w naszym menu
      </h2>
      <div class="mt-4">
        <app-dish-list [dishes]="bestDishes" [showBest]="false"></app-dish-list>
      </div>
    </div>
    <div class="col-lg-6 mt-5 mb-2">
      <img class="img-fluid d-flex mx-auto" width="450" height="450" src="assets/bestDishes.jpg" alt="Best Dishes image">
    </div>
  </div>
  <div class="row mb-5">
    <a class="btn btn-grey w-auto d-flex mx-auto" style="font-size: 18px">Zobacz menu</a>
  </div>
  <app-topic-image [urlImage]="tableImg" [minHeight]="500" content="Rezerwacje"></app-topic-image>
  <div class="row my-5">
    <h1 class="text-center" style="font-family: 'Kaushan Script', cursive;">
      Odwiedź nas już dzisiaj
    </h1>
    <h5 class="text-center mb-5" style="font-family: 'Kaushan Script', cursive;">
      Restauracja czynna 7 dni w tygodniu
    </h5>
    <div class="w-auto mx-auto mb-5">
      <a class="btn btn-grey d-inline-block me-5 text-uppercase p-3" style="font-size: 18px">Zarezerwuj stolik</a>
      <a class="btn btn-grey d-inline-block text-uppercase p-3" style="font-size: 18px">Zamów online</a>
    </div>
  </div>
</section>
<app-footer></app-footer>
