<h4 class="text-grey pb-3 border-bottom text-center">Zamówienie</h4>
<div class="py-3 border-bottom" *ngFor="let order of basket | keyvalue">
  <div class="pb-2">
    <span class="float-start pe-2">{{order.value.amount}}x</span>
    <span>{{getDishById(order.value.dishId).name}}</span>
    <span class="float-end">
          {{order.value.price | currency:'PLN':'symbol-narrow':'1.2-2':'pl-PL'}}
        </span>
    <div style="clear: both"></div>
  </div>
  <div>
    <div style="font-size: 13px" class="float-start fw-light ps-3">{{getDishById(order.value.dishId).ingredients}}</div>
    <div class="float-end">
      <fa-icon (click)="removeDish(order.value)" class="plus-minus me-1" style="font-size: 10px"
               [icon]="faMinus"></fa-icon>
      <fa-icon (click)="addDish(order.value)" class="plus-minus me-2" style="font-size: 10px" [icon]="faPlus"></fa-icon>
    </div>
    <div style="clear: both"></div>
  </div>
</div>
<div *ngIf="basket.size === 0" class="py-5 my-5">
  <div class="d-flex justify-content-center align-items-center">
    <fa-icon class="fa-4x" [icon]="faBasketShopping"></fa-icon>
  </div>
  <div class="pt-3 text-center fw-bolder">Koszyk jest pusty</div>
</div>
<div>
  <div class="mt-4" *ngIf="basket.size > 0">
    <div *ngIf="fullPrice < minimalPrice" class="bg-info text-center py-2 mb-2" style="border-radius: 10px">
      Minimalna wartość zamówienia z dostawą wynosi
      {{minimalPrice}} zł (brakuje
      {{minimalPrice - fullPrice | currency:'PLN':'symbol-narrow':'1.2-2':'pl-PL'}}).
      Dodaj dania do koszyka.
    </div>
    <span class="float-start fw-bolder">Dostawa</span>
    <span class="float-end fw-bolder">
        {{deliveryFee | currency:'PLN':'symbol-narrow':'1.2-2':'pl-PL'}}
      </span>
    <div style="clear: both" class="mb-2"></div>
    <span class="float-start fw-bolder">Razem</span>
    <span class="float-end fw-bolder">
        {{fullPrice | currency:'PLN':'symbol-narrow':'1.2-2':'pl-PL'}}
      </span>
    <div style="clear: both" class="mb-4"></div>
  </div>
  <div *ngIf="basket.size > 0 && showFormBtn" class="d-grid gap-2">
    <button [disabled]="fullPrice < minimalPrice"
            [routerLink]="['/order/customer']" fragment="orderForm"
            class="btn btn-outline-grey">
      Przejdź do kasy
    </button>
  </div>
</div>
