@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --grey: #333333;
}

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/mixins";


$grey:(
  "grey": #333333,
);

$theme-colors: map-merge($theme-colors, $grey);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import "~bootstrap/scss/bootstrap";

.bg-grey{background-color: var(--bs-grey);};

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('~src/assets/background.jpg');
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.header1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
}

.bg-image {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 1200px) {
  .header1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
  }

  .bg-image {
    background-attachment: scroll;
    min-height: 300px !important;
  }
}
