<section class="container-fluid bg-grey w-100 h-100">
  <div class="row w-100 h-100">
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
      <div class="d-block">
        <div class="mb-4 d-flex justify-content-center align-items-center">
          <img class="img-fluid d-block" src="../../../assets/restaurantIcon.jpg" alt="Icon">
        </div>
        <div class="mb-4">
          <h2 class="text-light">Wybierz lokal w Polsce</h2>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <a *ngFor="let restaurant of restaurants" (click)="chooseRestaurant(restaurant)"
             class="btn btn-outline-light d-inline-block me-2">
            {{restaurant.city}}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
