<div id="employeesContent" class="row m-0 py-3 px-2">
  <div class="col-xl-6 pb-3">
    <div class="bg-white p-2" style="border-radius: 10px;">
      <h4 class="text-center mb-4">Filtrowanie</h4>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="chosenEmployee" placeholder="Identyfikator pracownika"/>
        <button class="btn btn-outline-grey" type="button" (click)="getEmployeeById()">Szukaj</button>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="keyword" placeholder="Nazwisko pracownika"/>
        <button class="btn btn-outline-grey" type="button" (click)="getEmployeeBySurname()">Szukaj</button>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" minlength="2" [(ngModel)]="chosenRestaurant"
               placeholder="Miasto, ulica restauracji" list="cities"/>
        <button class="btn btn-outline-grey" type="button" (click)="getEmployeesByRestaurant()">Szukaj</button>
        <datalist id="cities">
          <option *ngFor="let restaurant of restaurants">
            {{restaurant.restaurantId}} {{restaurant.city}}, {{restaurant.street}}
          </option>
        </datalist>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <button (click)="resetFilters()" class="btn btn-outline-grey">Reset</button>
      </div>
    </div>

    <div class="bg-white p-2 mt-3" style="border-radius: 10px;">
      <h4 class="text-center mb-4">Opcje</h4>
      <div class="d-grid">
        <button class="btn btn-outline-grey" (click)="addNewEmployee()">
          <fa-icon class="me-2" [icon]="faUserPlus"></fa-icon>
          <span>Dodaj nowego pracownika</span>
        </button>
      </div>
    </div>
  </div>

  <div class="col-xl-6 pb-3">
    <div class="bg-white p-2" style="border-radius: 10px;">
      <h4 class="text-center">Lista pracowników</h4>
      <div>
        <table class="table table-striped table-hover text-center overflow-auto">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col" sortable="surname" (sort)="onSort($event)">Nazwisko</th>
            <th scope="col" sortable="name" (sort)="onSort($event)">Imię</th>
            <th scope="col" sortable="workstation" (sort)="onSort($event)">Stanowisko</th>
            <th scope="col">Opcje</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of employeesList.employees">
            <th scope="row">{{employee.id}}</th>
            <td>{{employee.surname}}</td>
            <td>{{employee.name}}</td>
            <td>
              {{getWorkstationById(employee.workstationId)}}
            </td>
            <td>
              <fa-icon style="cursor: pointer" class="me-2 text-info" placement="top"
                       ngbTooltip="Zobacz pełne informacje"
                       (click)="editEmployee(employee.id)" [icon]="faEye"></fa-icon>
              <fa-icon style="cursor: pointer" class="me-2 text-warning" placement="top" ngbTooltip="Edytuj"
                       (click)="editEmployee(employee.id)" [icon]="faPenToSquare"></fa-icon>
              <fa-icon style="cursor: pointer" class="text-danger" placement="top" ngbTooltip="Zwolnij"
                       (click)="openDismissModal(employee.id, dismissEmployeeForm)" [icon]="faXmark"></fa-icon>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center align-items-center">
          <ngb-pagination [collectionSize]="employeesList.maxPage * pageSize"
                          [(page)]="pageNr"
                          [maxSize]="5"
                          [rotate]="true"
                          [boundaryLinks]="true"
                          (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>

  <app-employee-info id="employeeInfo" *ngIf="showEmployeeDetails" (closeEmployeeDetails)="closeEmployeeDetails()"
                     [employeeId]="selectedEmployeeId" [workstations]="workstations"></app-employee-info>
</div>

<ng-template #dismissEmployeeForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Czy zwolnić pracownika o identyfikatorze {{selectedEmployeeId}}?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center align-items-center">
      <button type="button" class="btn btn-outline-success me-4" (click)="dismissEmployee(dismissEmployeeForm)">Tak</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Anuluj</button>
    </div>
  </div>
</ng-template>
