<header id="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-grey">
    <div class="container-fluid">
      <a class="mx-auto d-flex d-lg-none" routerLink="/main-site">
        <img src="../../../assets/restaurantIcon.jpg" alt="Icon">
      </a>
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse text-uppercase text-size py-1" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="me-4 d-none d-lg-inline-block">
            <a class="ms-auto" routerLink="/main-site">
              <img src="../../../assets/restaurantIcon.jpg" alt="Icon">
            </a>
          </li>
          <li class="nav-item me-4 my-auto">
            <a class="nav-link" routerLink="/news" routerLinkActive="active">aktualności</a>
          </li>
          <li ngbDropdown class="dropdown me-4 my-auto">
            <a class="nav-link" ngbDropdownToggle id="dropdownMenuButton1" aria-expanded="false">
              menu
            </a>
            <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1" class="text-center">
              <li><a ngbDropdownItem [routerLink]="['/menu']" fragment="soup">zupy</a></li>
              <li><a ngbDropdownItem [routerLink]="['/menu']" fragment="main-dish">dania główne</a></li>
              <li><a ngbDropdownItem [routerLink]="['/menu']" fragment="fish">ryby</a></li>
              <li><a ngbDropdownItem [routerLink]="['/menu']" fragment="salad">sałatki</a></li>
              <li><a ngbDropdownItem [routerLink]="['/menu']" fragment="dessert">desery</a></li>
              <li><a ngbDropdownItem [routerLink]="['/menu']" fragment="beverage">napoje</a></li>
            </ul>
          </li>
          <li class="nav-item me-4 my-auto">
            <a class="nav-link" routerLink="/order" routerLinkActive="active">zamów</a>
          </li>
          <li class="nav-item me-4 my-auto">
            <a class="nav-link" routerLink="/reservation" routerLinkActive="active">rezerwacja</a>
          </li>
          <li class="nav-item me-4 my-auto">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
