<app-header></app-header>
<section class="container-fluid">
  <app-topic-image [urlImage]="reservationImgUrl" [minHeight]="600" content="Rezerwacja"></app-topic-image>
  <div class="row my-5">
    <div class="col-xl-6 offset-xl-3">
      <h2 class="text-center mb-4">Zarezerwuj stolik już dzisiaj</h2>
      <div>
        <div class="w-75 mx-auto">
          <div style="font-size: 20px" class="pb-2">
            <fa-icon class="me-2" [icon]="faUserGroup"></fa-icon> Liczba osób
          </div>
          <button [class.active]="selectedGuestsNumber === number" (click)="selectButton(number)"
                  class="d-inline-block btn btn-outline-grey px-4 me-2"
                  *ngFor="let number of guestsNumberArray">
            {{number}}
          </button>
          <div class="pt-2">
            <span class="me-2 d-inline-block">Grupa osób</span>
            <select class="p-1 bg-white" style="border-radius: 5px" (change)="onGroupChange()"
                    aria-label="Select number of guests in group"
                    [(ngModel)]="selectedGroupGuests">
              <option [selected]="!selectedGroupGuests" [ngValue]="undefined"></option>
              <option *ngFor="let number of guestsGroupNumberArray"
                      [selected]="selectedGroupGuests === number" [ngValue]="number">
                {{number}}
              </option>
            </select>
            <div *ngIf="selectedGuestsNumber || selectedGroupGuests" style="font-size: 20px" class="pb-2 mt-5 w-50">
              <span class="mb-2 d-flex"><fa-icon class="me-2" [icon]="faCalendar"></fa-icon> Wybierz datę</span>
              <ngb-datepicker [minDate]="today" [startDate]="today" lang="pl" class="d-block" #d></ngb-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
