ul > li > a {
  padding: 5px 24px;
  border-radius: 20px;
}

.nav-pills .nav-link.active{
  background-color: var(--grey);
  color: white;
}

.nav-pills .nav-link{
  color: black;
}

.plus-minus {
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 3px;
}

.plus-minus:hover {
  background-color: var(--grey);
  color: white;
}
