<div>
  <ul ngbNav #nav="ngbNav" class="nav-pills sticky-top bg-white border-bottom border-top py-2">
    <li *ngIf="!showSearchInput">
      <a style="cursor: pointer" (click)="onSearchClick()">
        <fa-icon style="font-size: 24px" [icon]="faMagnifyingGlass"></fa-icon>
      </a>
    </li>
    <li *ngIf="!showSearchInput" [ngbNavItem]="0">
      <a (click)="getDishesByType('Zupy')" ngbNavLink>Zupy</a>
      <ng-template ngbNavContent>
        <app-order-list (addOrder)="addOrder($event)"
                        [dishes]="searchedDishes"></app-order-list>
      </ng-template>
    </li>
    <li *ngIf="!showSearchInput" [ngbNavItem]="1">
      <a (click)="getDishesByType('Dania główne')" ngbNavLink>Dania główne</a>
      <ng-template ngbNavContent>
        <app-order-list (addOrder)="addOrder($event)"
                        [dishes]="searchedDishes"></app-order-list>
      </ng-template>
    </li>
    <li *ngIf="!showSearchInput" [ngbNavItem]="2">
      <a (click)="getDishesByType('Ryby')" ngbNavLink>Ryby</a>
      <ng-template ngbNavContent>
        <app-order-list (addOrder)="addOrder($event)"
                        [dishes]="searchedDishes"></app-order-list>
      </ng-template>
    </li>
    <li *ngIf="!showSearchInput" [ngbNavItem]="3">
      <a (click)="getDishesByType('Sałatki')" ngbNavLink>Sałatki</a>
      <ng-template ngbNavContent>
        <app-order-list (addOrder)="addOrder($event)"
                        [dishes]="searchedDishes"></app-order-list>
      </ng-template>
    </li>
    <li *ngIf="!showSearchInput" [ngbNavItem]="4">
      <a (click)="getDishesByType('Desery')" ngbNavLink>Desery</a>
      <ng-template ngbNavContent>
        <app-order-list (addOrder)="addOrder($event)"
                        [dishes]="searchedDishes"></app-order-list>
      </ng-template>
    </li>
    <li *ngIf="!showSearchInput" [ngbNavItem]="5">
      <a (click)="getDishesByType('Napoje')" ngbNavLink>Napoje</a>
      <ng-template ngbNavContent>
        <app-order-list (addOrder)="addOrder($event)"
                        [dishes]="searchedDishes"></app-order-list>
      </ng-template>
    </li>

    <li *ngIf="showSearchInput" class="w-100">
      <div class="input-group">
        <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <fa-icon style="font-size: 20px" [icon]="faMagnifyingGlass"></fa-icon>
                </span>
        </div>
        <input type="text" class="form-control" placeholder="Szukaj" (input)="search()"
               [(ngModel)]="searchPhrase"
               aria-label="Szukaj" aria-describedby="searchInput">
        <div class="input-group-append">
                <span class="input-group-text bg-danger" style="cursor: pointer" (click)="onCloseClick()">
                  <fa-icon style="font-size: 20px" [icon]="faXmark"></fa-icon>
                </span>
        </div>
      </div>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
  <div *ngIf="showSearchInput">
    <app-order-list [dishes]="searchedDishes"></app-order-list>
  </div>
</div>
