<h2 id="orderForm" class="text-center mb-4">Formularz zamówienia</h2>
<form [formGroup]="orderForm" #form="ngForm" (ngSubmit)="!orderForm.invalid && onSubmit()">
  <div class="form-group mb-4">
    <label for="name">Imie</label>
    <input type="text" placeholder="Imię" formControlName="firstName" class="form-control" id="name" maxlength="32"
           [ngClass]="{ 'is-invalid': form.submitted && f['firstName'].errors ||
                    (errors.has('name') && f['firstName'].pristine)  }" />
    <div *ngIf="form.submitted && f['firstName'].errors" class="invalid-feedback">
      <div *ngIf="f['firstName'].errors['required']">
        Imie jest wymagane
      </div>
      <div *ngIf="f['firstName'].errors['pattern']">
        Imie jest nieprawidłowe
      </div>
    </div>
    <div *ngIf="errors.has('name') && f['firstName'].valid && f['firstName'].pristine" class="invalid-feedback d-block">
      {{errors.get('name')}}
    </div>
  </div>
  <div class="form-group">
    <div class="d-grid gap-2">
      <button class="btn btn-outline-grey">
        Wyślij
      </button>
    </div>
  </div>
  <div *ngIf="form.submitted && form.invalid" class="invalid-feedback d-block">
    Formularz zawiera błędy
  </div>
</form>
<div class="mt-4">
  <a [routerLink]="['/order']" class="fw-light text-grey back-anchor">
    <span style="font-weight: 900">&lt;</span> Wróć
  </a>
</div>
