<div class="pb-3">
  <div class="bg-white p-2" style="border-radius: 10px;">
    <div class="d-flex justify-content-between align-items-center">
      <div>
      </div>
      <div>
        <h4 class="text-center pt-2">Detale zamówienia</h4>
      </div>
      <div>
        <fa-icon (click)="closeComponent()" style="font-size: 1.5rem;cursor: pointer" [icon]="faXmark"></fa-icon>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-xl-3">
        <div class="d-flex justify-content-center align-items-center">
          <fa-icon class="fa-9x" [icon]="faCartShopping"></fa-icon>
        </div>
      </div>
      <div class="col-xl-9">
        <form [formGroup]="onlineOrderForm" #form="ngForm" *ngIf="showOnlineForm"
              (ngSubmit)="getInvalidControl() && !onlineOrderForm.invalid && onOnlineOrderFormSubmit()">

          <h5>Dane klienta</h5>
          <div class="row m-0">
            <div class="form-group mb-2 mb-md-4 col-md-6">
              <label for="name">Imie</label>
              <input type="text" placeholder="Podaj imię" formControlName="firstName" class="form-control" id="name"
                     maxlength="32"
                     [ngClass]="{ 'is-invalid': form.submitted && fo['firstName'].errors ||
                    (errors.has('name') && fo['firstName'].pristine)  }"/>
              <div *ngIf="form.submitted && fo['firstName'].errors" class="invalid-feedback">
                <div *ngIf="fo['firstName'].errors['required']">
                  Imie jest wymagane
                </div>
                <div *ngIf="fo['firstName'].errors['pattern']">
                  Imie jest nieprawidłowe
                </div>
              </div>
              <div *ngIf="errors.has('name') && fo['firstName'].valid && fo['firstName'].pristine"
                   class="invalid-feedback d-block">
                {{errors.get('name')}}
              </div>
            </div>

            <div class="form-group mb-2 mb-md-4 col-md-6">
              <label for="surname">Nazwisko</label>
              <input type="text" placeholder="Podaj nazwisko" formControlName="surname" class="form-control"
                     id="surname" maxlength="32"
                     [ngClass]="{ 'is-invalid': form.submitted && fo['surname'].errors ||
                    (errors.has('surname') && fo['surname'].pristine)  }"/>
              <div *ngIf="form.submitted && fo['surname'].errors" class="invalid-feedback">
                <div *ngIf="fo['surname'].errors['required']">
                  Nazwisko jest wymagane
                </div>
                <div *ngIf="fo['surname'].errors['pattern']">
                  Nazwisko jest nieprawidłowe
                </div>
              </div>
              <div *ngIf="errors.has('surname') && fo['surname'].valid && fo['surname'].pristine"
                   class="invalid-feedback d-block">
                {{errors.get('surname')}}
              </div>
            </div>

            <div class="form-group mb-2 mb-md-4 col-md-6">
              <label for="email">E-mail</label>
              <input type="text" placeholder="Podaj email" formControlName="email" class="form-control" id="email"
                     [ngClass]="{ 'is-invalid': form.submitted && fo['email'].errors ||
                    (errors.has('email') && fo['email'].pristine)  }"/>
              <div *ngIf="form.submitted && fo['email'].errors" class="invalid-feedback">
                <div *ngIf="fo['email'].errors['required']">
                  Email jest wymagany
                </div>
                <div *ngIf="fo['email'].errors['email']">
                  Email jest nieprawidłowy
                </div>
              </div>
              <div *ngIf="errors.has('email') && fo['email'].valid && fo['email'].pristine"
                   class="invalid-feedback d-block">
                {{errors.get('email')}}
              </div>
            </div>

            <div class="form-group mb-2 mb-md-4 col-md-6">
              <label for="phoneNumber">Numer telefonu</label>
              <input type="text" placeholder="Podaj numer telefonu" formControlName="phoneNumber" class="form-control"
                     id="phoneNumber"
                     [ngClass]="{ 'is-invalid': form.submitted && fo['phoneNumber'].errors ||
                    (errors.has('phoneNumber') && fo['phoneNumber'].pristine)  }"/>
              <div *ngIf="form.submitted && fo['phoneNumber'].errors" class="invalid-feedback">
                <div *ngIf="fo['phoneNumber'].errors['required']">
                  Numer telefonu jest wymagany
                </div>
                <div *ngIf="fo['phoneNumber'].errors['pattern']">
                  Numer telefonu jest nieprawidłowy
                </div>
              </div>
              <div *ngIf="errors.has('phoneNumber') && fo['phoneNumber'].valid && fo['phoneNumber'].pristine"
                   class="invalid-feedback d-block">
                {{errors.get('phoneNumber')}}
              </div>
            </div>
          </div>

          <hr class="mt-0 mb-2 mb-md-4">
          <h5>Adres dostawy</h5>

          <div class="row m-0">
            <div class="form-group mb-2 mb-md-4 col-md-6">
              <label for="citySelect">Miasto:</label>
              <select class="form-select" id="citySelect"
                      [ngClass]="{ 'is-invalid': form.submitted && fo['city'].errors ||
                      (errors.has('address.city') && fo['city'].pristine) }"
                      formControlName="city" aria-label="City select">
                <option disabled hidden [selected]="fo['city'].value === null" ngValue="">Wybierz miasto</option>
                <option *ngFor="let city of availableCities" [ngValue]="city">{{city}}</option>
              </select>
              <div *ngIf="form.submitted && fo['city'].errors" class="invalid-feedback">
                <div *ngIf="fo['city'].errors['required']">
                  Miasto jest wymagane
                </div>
              </div>
              <div *ngIf="errors.has('address.city') && fo['city'].valid && fo['city'].pristine"
                   class="invalid-feedback d-block">
                {{errors.get('address.city')}}
              </div>
            </div>

            <div class="form-group mb-2 mb-md-4 col-md-6">
              <label for="street">Ulica:</label>
              <input type="text" placeholder="Podaj ulicę" formControlName="street" class="form-control" id="street"
                     [ngClass]="{ 'is-invalid': form.submitted && fo['street'].errors ||
                    (errors.has('address.street') && fo['street'].pristine)  }"/>
              <div *ngIf="form.submitted && fo['street'].errors" class="invalid-feedback">
                <div *ngIf="fo['street'].errors['required']">
                  Nazwa ulicy jest wymagana
                </div>
                <div *ngIf="fo['street'].errors['pattern']">
                  Nazwa ulicy jest nieprawidłowa
                </div>
              </div>
              <div *ngIf="errors.has('address.street') && fo['street'].valid && fo['street'].pristine"
                   class="invalid-feedback d-block">
                {{errors.get('address.street')}}
              </div>
            </div>

            <div class="form-group mb-2 mb-md-4 col-md-6">
              <label for="houseNr">Numer domu:</label>
              <input type="text" placeholder="Podaj numer domu" formControlName="houseNr" class="form-control"
                     id="houseNr"
                     [ngClass]="{ 'is-invalid': form.submitted && fo['houseNr'].errors ||
                    (errors.has('address.houseNr') && fo['houseNr'].pristine)  }"/>
              <div *ngIf="form.submitted && fo['houseNr'].errors" class="invalid-feedback">
                <div *ngIf="fo['houseNr'].errors['required']">
                  Numer domu jest wymagany
                </div>
                <div *ngIf="fo['houseNr'].errors['pattern']">
                  Numer domu jest nieprawidłowy
                </div>
              </div>
              <div *ngIf="errors.has('address.houseNr') && fo['houseNr'].valid && fo['houseNr'].pristine"
                   class="invalid-feedback d-block">
                {{errors.get('address.houseNr')}}
              </div>
            </div>

            <div class="form-group mb-2 mb-md-4 col-md-6">
              <label for="flatNr">Numer mieszkania:</label>
              <input type="text" placeholder="Podaj numer mieszkania" formControlName="flatNr" class="form-control"
                     id="flatNr"
                     [ngClass]="{ 'is-invalid': form.submitted && fo['flatNr'].errors ||
                    (errors.has('address.flatNr') && fo['flatNr'].pristine)  }"/>
              <div *ngIf="form.submitted && fo['flatNr'].errors" class="invalid-feedback">
                <div *ngIf="fo['flatNr'].errors['required']">
                  Numer mieszkania jest wymagany
                </div>
                <div *ngIf="fo['flatNr'].errors['pattern']">
                  Numer mieszkania jest nieprawidłowy
                </div>
              </div>
              <div *ngIf="errors.has('address.flatNr') && fo['flatNr'].valid && fo['flatNr'].pristine"
                   class="invalid-feedback d-block">
                {{errors.get('address.flatNr')}}
              </div>
            </div>

            <div class="form-group mb-2 mb-md-4 col-md-6">
              <label for="postcode">Kod pocztowy:</label>
              <input type="text" placeholder="Podaj kod pocztowy" formControlName="postcode" class="form-control"
                     id="postcode"
                     [ngClass]="{ 'is-invalid': form.submitted && fo['postcode'].errors ||
                    (errors.has('address.postcode') && fo['postcode'].pristine)  }"/>
              <div *ngIf="form.submitted && fo['postcode'].errors" class="invalid-feedback">
                <div *ngIf="fo['postcode'].errors['required']">
                  Kod pocztowy jest wymagany
                </div>
                <div *ngIf="fo['postcode'].errors['pattern']">
                  Kod pocztowy jest nieprawidłowy
                </div>
              </div>
              <div *ngIf="errors.has('address.postcode') && fo['postcode'].valid && fo['postcode'].pristine"
                   class="invalid-feedback d-block">
                {{errors.get('address.postcode')}}
              </div>
            </div>

            <div class="form-group mb-2 mb-md-4 col-md-6">
              <label for="floor">Piętro (opcjonalne):</label>
              <input type="number" placeholder="Podaj numer piętra" formControlName="floor" class="form-control"
                     id="floor"
                     [ngClass]="{ 'is-invalid': form.submitted && fo['floor'].errors ||
                    (errors.has('address.floor') && fo['floor'].pristine)  }"/>
              <div *ngIf="errors.has('address.floor') && fo['floor'].valid && fo['floor'].pristine"
                   class="invalid-feedback d-block">
                {{errors.get('address.floor')}}
              </div>
            </div>
          </div>

          <hr class="mt-0 mb-2 mb-md-4">
          <h5>Płatność</h5>

          <div class="row m-0">
            <div class="mb-2 mb-md-4 col-md-6">
              <label class="d-block" for="orderDate">Metoda płatności:</label>
              <span style="font-size: 1rem">{{fo['paymentMethod'].value}}</span>
            </div>

            <div *ngIf="!newOrder" class="mb-2 mb-md-4 col-md-6">
              <label class="d-block" for="orderDate">Stan realizacji płatnośći:</label>
              <span style="font-size: 1rem">{{_orderInfo.isPaid ? 'Zapłacone' : 'Niezapłacone'}}</span>
            </div>
          </div>

          <ng-container *ngIf="!newOrder">
            <hr class="mt-0 mb-2 mb-md-4">
            <h5>Detale zamówienia</h5>

            <div class="row m-0">
              <div class="mb-2 mb-md-4 col-md-6">
                <label class="d-block" for="orderDate">Data zamówienia:</label>
                <span id="orderDate">
                {{_orderInfo.orderDate | date:'MMM d, y, HH:mm':'+0000':'pl-PL'}}
              </span>
              </div>

              <div class="mb-2 mb-md-4 col-md-6">
                <label class="d-block" for="deliveryDate">Data realizacji zamówienia:</label>
                <span id="deliveryDate">
                <ng-container *ngIf="_orderInfo.deliveryDate !== null">
                  {{_orderInfo.deliveryDate | date:'MMM d, y, HH:mm':'+0000':'pl-PL'}}
                </ng-container>
                <ng-container *ngIf="_orderInfo.deliveryDate === null">
                  Brak
                </ng-container>
              </span>
              </div>

              <div class="mb-2 mb-md-4 col-md-6">
                <label class="d-block" for="price">Całkowity koszt zamówienia:</label>
                <span id="price">
                  {{_orderInfo.price | currency:'PLN':'symbol-narrow':'1.2-2':'pl-PL'}}
                </span>
              </div>

              <div class="mb-2 mb-md-4 col-md-6">
                <label class="d-block" for="restaurant">Lokal zamówienia:</label>
                <span id="restaurant">
                  {{_orderInfo.restaurantInfo.city}}, ul. {{_orderInfo.restaurantInfo.street}}
                </span>
              </div>
            </div>
          </ng-container>

          <hr class="mt-0 mb-2 mb-md-4">
          <h5>Zamówienie</h5>

          <div class="row m-0">
            <table class="table table-striped table-hover text-center overflow-auto">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Ilość</th>
                <th scope="col">Cena</th>
                <th *ngIf="_orderInfo === null || !_orderInfo?.isPaid" scope="col">Opcje</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of fo['orders'].value; index as i">
                <th scope="row">{{order.dishId}}</th>
                <td>{{order.name}}</td>
                <td>
                  {{order.amount}}
                </td>
                <td>{{order.price | currency:'PLN':'symbol-narrow':'1.2-2':'pl-PL'}}</td>
                <td *ngIf="_orderInfo === null">
                  <fa-icon style="cursor: pointer" class="text-danger" placement="top" ngbTooltip="Usuń"
                           (click)="removeDish(i, fo)" [icon]="faXmark"></fa-icon>
                </td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="form.submitted && fo['orders'].errors" class="invalid-feedback d-block">
              <div *ngIf="fo['orders'].errors['required']">
                Lista zamówionych potaw nie może być pusta
              </div>
            </div>
            <div *ngIf="errors.has('orders') && fo['orders'].valid && fo['orders'].pristine"
                 class="invalid-feedback d-block">
              {{errors.get('orders')}}
            </div>

            <div *ngIf="_orderInfo === null || !_orderInfo?.isPaid" class="form-group mb-2 mb-md-4">
              <div class="input-group">
                <input type="text" placeholder="Wpisz nazwę posiłku" [(ngModel)]="selectedDishId"
                       [ngModelOptions]="{standalone: true}"
                       [ngClass]="{ 'is-invalid': errors.has('order')}"
                       class="form-control" list="dishes"/>
                <datalist id="dishes">
                  <option [value]="dish.id" *ngFor="let dish of dishes">
                    {{dish.name}}
                  </option>
                </datalist>
                <input type="number" placeholder="Wpisz ilość" [(ngModel)]="selectedDishAmount"
                       [ngModelOptions]="{standalone: true}"
                       [ngClass]="{ 'is-invalid': errors.has('order')}"
                       class="form-control"/>
                <div *ngIf="errors.has('order')" class="invalid-feedback d-block">
                    {{errors.get('order')}}
                </div>
                <button (click)="addDish(fo)" class="btn btn-outline-grey" type="button">Dodaj</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="d-grid">
              <button *ngIf="!disabled" class="btn btn-outline-grey">
                Zapisz
              </button>
            </div>
          </div>

          <div *ngIf="isSuccessful" class="d-block alert-success mt-2">
            <div class="d-grid text-center" style="font-size: 1.5rem;">
              Zamówienie zostało zapisane
            </div>
          </div>

          <div *ngIf="(form.submitted && form.invalid) || errors.size > 0" class="invalid-feedback d-block">
            <div class="d-flex justify-content-center align-items-center">
              Formularz zawiera błędy
            </div>
          </div>
        </form>

        <form [formGroup]="restaurantOrderForm" #form2="ngForm" *ngIf="!showOnlineForm"
              (ngSubmit)="!restaurantOrderForm.invalid && onRestaurantOrderFormSubmit()">


          <hr class="mt-0 mb-2 mb-md-4">
          <h5>Detale zamówienia</h5>

          <div class="row m-0">
            <ng-container *ngIf="!newOrder">
              <div class="mb-2 mb-md-4 col-md-6">
                <label class="d-block" for="restaurantOrderDate">Data zamówienia:</label>
                <span id="restaurantOrderDate">
                  {{_orderInfo.orderDate | date:'MMM d, y, HH:mm':'+0000':'pl-PL'}}
                </span>
              </div>

              <div class="mb-2 mb-md-4 col-md-6">
                <label class="d-block" for="restaurantDeliveryDate">Data realizacji zamówienia:</label>
                <span id="restaurantDeliveryDate">
                <ng-container *ngIf="_orderInfo.deliveryDate !== null">
                  {{_orderInfo.deliveryDate | date:'MMM d, y, HH:mm':'+0000':'pl-PL'}}
                </ng-container>
                <ng-container *ngIf="_orderInfo.deliveryDate === null">
                  Brak
                </ng-container>
              </span>
              </div>

              <div class="mb-2 mb-md-4 col-md-6">
                <label class="d-block" for="restaurantPrice">Całkowity koszt zamówienia:</label>
                <span id="restaurantPrice">
                  {{_orderInfo.price | currency:'PLN':'symbol-narrow':'1.2-2':'pl-PL'}}
                </span>
              </div>

              <div class="mb-2 mb-md-4 col-md-6">
                <label class="d-block" for="_restaurant">Lokal zamówienia:</label>
                <span id="_restaurant">
                  {{_orderInfo.restaurantInfo.city}}, ul. {{_orderInfo.restaurantInfo.street}}
                </span>
              </div>
            </ng-container>

            <div class="form-group mb-2 mb-md-4 col-md-6">
              <label for="tableSelect">Numer stolika:</label>
              <select class="form-select" id="tableSelect"
                      [ngClass]="{ 'is-invalid': form2.submitted && fr['tableId'].errors}"
                      formControlName="tableId" aria-label="Table select">
                <option disabled hidden [selected]="!fr['tableId'].value" ngValue="">Wybierz numer stolika</option>
                <option *ngFor="let tableId of tables" [ngValue]="tableId">Stolik nr {{tableId}}</option>
              </select>
              <div *ngIf="form2.submitted && fr['tableId'].errors" class="invalid-feedback">
                <div *ngIf="fr['tableId'].errors['required']">
                  Numer stolika jest wymagane
                </div>
                <div *ngIf="fr['tableId'].errors['min']">
                  Numer stolika jest wymagane
                </div>
              </div>
            </div>
          </div>

          <hr class="mt-0 mb-2 mb-md-4">
          <h5>Zamówienie</h5>

          <div class="row m-0">
            <table class="table table-striped table-hover text-center overflow-auto">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Ilość</th>
                <th scope="col">Cena</th>
                <th *ngIf="_orderInfo === null || !_orderInfo?.isPaid" scope="col">Opcje</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of fr['orders'].value; index as i">
                <th scope="row">{{order.dishId}}</th>
                <td>{{order.name}}</td>
                <td>
                  {{order.amount}}
                </td>
                <td>{{order.price | currency:'PLN':'symbol-narrow':'1.2-2':'pl-PL'}}</td>
                <td *ngIf="_orderInfo === null">
                  <fa-icon style="cursor: pointer" class="text-danger" placement="top" ngbTooltip="Usuń"
                           (click)="removeDish(i, fr)" [icon]="faXmark"></fa-icon>
                </td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="form2.submitted && fr['orders'].errors" class="invalid-feedback d-block">
              <div *ngIf="fr['orders'].errors['required']">
                Lista zamówionych potaw nie może być pusta
              </div>
            </div>
            <div *ngIf="errors.has('orders') && fr['orders'].valid && fr['orders'].pristine"
                 class="invalid-feedback d-block">
              {{errors.get('orders')}}
            </div>

            <div *ngIf="_orderInfo === null || _orderInfo.deliveryDate === null" class="form-group mb-2 mb-md-4">
              <div class="input-group">
                <input type="text" placeholder="Wpisz nazwę posiłku" [(ngModel)]="selectedDishId"
                       [ngModelOptions]="{standalone: true}"
                       [ngClass]="{ 'is-invalid': errors.has('order')}"
                       class="form-control" list="_dishes"/>
                <datalist id="_dishes">
                  <option [value]="dish.id" *ngFor="let dish of dishes">
                    {{dish.name}}
                  </option>
                </datalist>
                <input type="number" placeholder="Wpisz ilość" [(ngModel)]="selectedDishAmount"
                       [ngModelOptions]="{standalone: true}"
                       [ngClass]="{ 'is-invalid': errors.has('order')}"
                       class="form-control"/>
                <div *ngIf="errors.has('order')" class="invalid-feedback d-block">
                    {{errors.get('order')}}
                </div>
                <button (click)="addDish(fr)" class="btn btn-outline-grey" type="button">Dodaj</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="d-grid">
              <button *ngIf="!disabled" class="btn btn-outline-grey">
                Zapisz
              </button>
            </div>
          </div>

          <div *ngIf="isSuccessful" class="d-block alert-success mt-2">
            <div class="d-grid text-center" style="font-size: 1.5rem;">
              Zamówienie zostało zapisane
            </div>
          </div>

          <div *ngIf="(form2.submitted && form2.invalid) || errors.size > 0" class="invalid-feedback d-block">
            <div class="d-flex justify-content-center align-items-center">
              Formularz zawiera błędy
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
